<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link type="text/css" href="styles.css" rel="stylesheet" />
    <link href="https://sp-bootstrap.global.ssl.fastly.net/5.2.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
    rel="stylesheet"/>
    <title>Smarter Playlists</title>
    <!-- Custom styles for this template -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body >
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
            <span class="navbar-logo">Spotify</span>
            <span class="navbar-title">Smarter Playlists</span>
          </a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class=""> <a href="imports.html">Imports</a> </li>
          <li class=""> <a href="examples.html">Examples</a> </li>
          <li class="active"> <a href="about.html">About</a> </li>
        </ul>
        </nav>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id='top' class="jumbotron">
      <div class="container-fluid col-sm-offset-2 col-sm-8" id="jumbo-dialog">
        <h1>About Smarter Playlists </h1>

        <p  class="intro-lead">
            Smarter Playlists is a web app that lets you build complex programs
            by assembling simple components.
            <p>
            With Smarter Playlists you can create new playlists
            by combining a wide range of music sources - artists, albums,
            genres, pre-programmed playlists and filtering and manipulating them
            with a nifty graph-based UI.
        </p>
        </div>
    </div>

    <br>

     <div class="container-fluid col-sm-offset-2 col-sm-8">
         <h2> Frequently Asked Questions </h2>
        <ul class="list-group">
             <li class="list-group-item">
                <h3 class="list-group-item-heading">How do I add components?</h3>
                <p class="list-group-item-text">
                On the left sidebar, components are grouped into Sources,
                Filters and Conditionals. Click on a component name to add a new
                instance of that component to the current program. Double click
                the component to get more information on what the component
                does, what parameters it takes and how it works.
                </p>
             </li>
             <li class="list-group-item">
                <h3 class="list-group-item-heading">How do I run a program?</h3>
                <p class="list-group-item-text">
                 To run a program, click on the last component of the program
                 and press the run button. Pressing run will always run the
                 currently selected component. This makes it easy to test and
                 debug different parts of larger networks of components.
                </p>
             </li>
             <li class="list-group-item">
                <h3 class="list-group-item-heading">How do I connect components?</h3>
                <p class="list-group-item-text">
                Click on each of the
                components that you wish to connect and press the SPACE bar. If
                the components are connectable they will be connected. To
                connect a component to the red input of a conditional filter
                press SHIFT and SPACE.
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">How do I edit components?</h3>
                <p class="list-group-item-text">
                Double click on a component to bring up the component
                configuration editor.
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">Are there any keyboard shortcuts?</h3>
                <p class="list-group-item-text">
                  Yes. Here's the set:
                    <ul>
                        <li> <b> Delete key</b> (or backspace on some keyboards) - Delete the currently selected component
                        <li> <b> g </b> (or space) make a green-port connection between the two components
                        <li> <b> r </b> make a red-port connection between the two components
                        <li> <b> o </b> make an orange-port connection between the two components
                        <li> <b> b </b> make a blue-port connection between the two components
                        <li> <b> d </b> delete the connection between the two selected components
                    </ul>
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">Can I schedule my program to
                run everyday? </h3>
                <p class="list-group-item-text">
                    Yes! From the Programs tab click on the <span class='glyphicon glyphicon-time'>
                    </span> icon, to be taken to the program scheduler. There you can set the
                    how frequent your program will run and the number of times your program will run.
                    You can also view the status of previous scheduled runs.
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">Are there any limits? </h3>
                <p class="list-group-item-text">
                    Yes, to prevent bad actors  from abusing the system and the APIs that I rely on there
                    are some builtin limits. If you have a strong need for a larger limit, let me know and
                    perhaps we can work something out. Current limits:
                    <ul>
                        <li> Max number of tracks written to a playlist: 1000 tracks
                        <li> Max number of times a program can be scheduled to be run: 100 times.
                    </ul>
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">Can you show an example of
                creating a new program from scratch?</h3>
                <p class="list-group-item-text">
                    <iframe width="640" height="480"
                    src="https://www.youtube.com/embed/TASsrQpJXo4?color=white&rel=0&autohide=1&controls=1"
                        frameborder="0" allowfullscreen></iframe>
                    <p>
                        This quick video shows how to create a Smarter Playlist that
                        generates a good garage rock playlist with an extra dose of
                        Weezer, but with no tracks from the album Hurley on it.
                    </p>
                </p>
             </li>


             <li class="list-group-item">
                <h3 class="list-group-item-heading">How do I rename a program?</h3>
                <p class="list-group-item-text">
                    On the Builder page click on the program name to edit it.
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">The playlist component is
                not finding my playlist. How come?</h3>
                <p class="list-group-item-text">
                    Make sure your playlist is public.
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">How do I save my program?
                </h3>
                <p class="list-group-item-text">
                    A program is saved automatically whenever you run it.
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">Where do I send ideas for
                new components or features?
                </h3>
                <p class="list-group-item-text">
                    Tweet your suggestions at <a
                    href='http://twitter.com/plamere'>@plamere</a> with the
                      hashtag <b> #smarterplaylists </b>
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">What does the <b> Alpha </b>
                  designation mean?
                </h3>
                <p class="list-group-item-text">
                    It means that this app is still under development and is likely
                    to change dramatically until it is officially released. This means
                    that there may be occasional breaking changes, where your programs
                    will no longer work, or there may be occasional database wipes, where
                    all your programs are deleted.  It's the price you pay for living on
                      bleeding edge of automated playlist generation!
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">Is the code available?
                </h3>
                <p class="list-group-item-text">
                    Yes, it is on Github at <a
                    href="http://github.com/plamere/SmarterPlaylists"> Smarter
                    Playlists on Github </a>
                </p>
             </li>

             <li class="list-group-item">
                <h3 class="list-group-item-heading">Is this an official Spotify
                project?
                </h3>
                <p class="list-group-item-text">
                    No, its a spare time project.
                </p>
             </li>

        </ul>
    </div>

     <div class="container-fluid col-sm-offset-2 col-sm-8">
         <h2> Upcoming features</h2>
         <ul id="features">
                <li> More personalized components:
                <ul>
                    <li> Discovery weekly
                    <li> My Followed Artists
                </ul>
                <li> Variables
                <li> Improved component interaction
                <li> Improved component visuals (album art etc.)
         </ul>
    </div>

     <div class="container-fluid col-sm-offset-2 col-sm-8">
         <h2> Available Components</h2>
         <ul id="components">
         </ul>
    </div>

    <div class="container-fluid col-sm-offset-2 col-sm-8">
        <h2> Version Info </h2>

        <h3> Alpha V3.1 - February 13, 2016 </h3>
        <ul>
            <li> Added range info for attributes </li>
            <li> Added detailed description for attributes </li>
            <li> Major stability improvements in the backend</li>
            <li> Added support for the valence audio attribute </li>
        </ul>
        <h3> Alpha V3 - January 17, 2016 </h3>
        <ul>
            <li> Improved component interaction</li>
            <li> Added powerful 'Mixer' component</li>
            <li> Added release date filter component</li>
            <li> More refined component categories (combiners, orderers, selectors)</li>
            <li> Major, under-the-hood refactor to support more
              generalized port connections (green, red, orange, blue)</li>
            <li> Added some DB admin tools
            <li> Automated backups of the user-program database
            <li> DB restore tested
        </ul>
        <h3> Alpha V2 - January 4, 2016 </h3>
        <ul>
            <li> New hostname and location</li>
            <li> Added scheduler </li>
            <li> Added new components </li>
            <ul>
                <li> My saved albums </li>
                <li> My saved tracks </li>
                <li> Followed Artists</li>
                <li> Save to Spotify</li>
                <li> Mixins </li>
                <li> Artist Separation </li>
            </ul>
        </ul>
   </div>


    <br>
    <div id="footer">
      <div class="container text-center">
        SmarterPlaylists <span class="version"></span>
        Created by <a href="http://twitter.com/plamere">@plamere</a>
      </div>
    </div>
    <script src="lib/jquery-1.11.1.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="main.js"></script>

    <script id="comp-template" type="text/template">
      <li>  <b> <%= display %> </b> - <%= description %>
            <!--<div class="comp-help"> <%= help %> </div> -->
      </li>
    </script>
<script>

var compTemplate = _.template($("#comp-template").text());

function initApp() {
    fetchInventory(function(cmap, types) {
        var clist = [];
        _.each(cmap, function(component, name) {
            clist.push(component);

        });

        clist.sort(function(a,b) {
            return a.display.localeCompare(b.display);
        });

        var list = $("#components");
        list.empty();
        _.each(clist, function(component) {
            var el = $(compTemplate(component))
            list.append(el);
        });
    });
}
$(document).ready(
    function() {
        initApp();
    }
);
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3675615-11', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
